@import "./scss/_fonts";
@import "./scss//_variables";
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    @extend .font-quicksand;
}

.App {
    text-align: center;
    display: -webkit-flex;
    display: flex;
}

.page {
    -webkit-flex: 1 0 70%;
    flex: 1 0 70%;
    max-width: 100%;
}


/* HEADER */

.header {
    &__nav {
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
    }
    &__toggle {
        width: 44px;
        height: 44px;
        border-radius: 6px;
        color: #fff;
        background: $GREEN_COLOR;
        position: relative;
        span {
            width: 24px;
            height: 3px;
            background: $WHITE_COLOR;
            display: block;
            position: absolute;
        }
    }
    &__menu {
        padding: 0;
        flex: 1;
        display: -webkit-flex;
        display: flex;
        justify-items: flex-end;
        justify-content: flex-end;
        li {
            list-style: none;
            display: inline-block;
            a {
                padding: 5px 10px;
                text-transform: uppercase;
                text-decoration: none;
                font-size: 16px;
                font-weight: bold;
                color: #333;
            }
            &.acive {
                a {}
            }
        }
    }
}


/* END HEADER */