aside {
    -webkit-flex: 0 0 260px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 260px;
    max-width: 260px;
    background: #367CFF;
    height: 100vh;
    position: fixed;
    z-index: 15;
    left: -260px;
}